<launch>

    <arg name="start" default="0"/>
    <arg name="dur" default="100000"/>
    <arg name="rate" default="1"/>
    <arg name = "imu" default = "/imu"/>
    <arg name = "odom" default = "/odom"/>
    <arg name = "scan" default = "/scan"/>
    <arg name = "points" default = "/velodyne_points"/>
    <arg name = "tf" default = "/tf_static"/>
    <arg name = "rviz" default = "true"/>
    <arg name = "use_3d" default = "false"/>

    <param name="/use_sim_time" value="true" />

    <node pkg="lidar_localization"  type="front_end_node"  name="front_end_node"  output="screen">
        <remap from = "/kitti/velo/pointcloud" to = "$(arg points)" />
        <remap from = "/kitti/oxts/imu" to = "$(arg imu)" />
    </node>

    <node name="playbag" pkg="rosbag" type="play" launch-prefix="gnome-terminal -x"
          args="$(arg bag) --clock --pause -r $(arg rate) -s $(arg start) -u $(arg dur) -k
                           --topics $(arg odom) $(arg imu) $(arg points) $(arg tf)" />

    <node name="base_laser_tf" pkg="tf" type="static_transform_publisher"
          args="0.02786 0.0 0.58110 0.00 0 0 imu_link laser_link 1000"/>

    <group if = "$(arg rviz)">
        <node pkg="rviz" type="rviz" name="rviz" output="screen" required="true"
            args="-d $(find lidar_localization)/rviz/front_end.rviz"/>
    </group>

</launch>